@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
}

* {
  scroll-margin-top: 48px;
}

/* .textLayer > * {
  color: red !important;
  background: rgba(255, 255, 0, 0.3) !important;
} */

/* .annotationLayer > * {
  color: red !important;
  background: rgba(255, 255, 0, 0.3) !important;
} */